html {
    background-color: antiquewhite;
}

/* navigasi */

#nav-bar {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    text-align: right;
    padding: 1.5em;
    margin: 30px 30px 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

#nav-bar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    background-color: rgb(34, 28, 4);
    color: white;
    border-radius: 10%;
    text-decoration: none;
    
}

#nav-bar a.active {
    background-color: rgb(34, 28, 4);
    color: white;
    border-radius: 10%;
}

/* header */

#header {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color:#f2f2f2;
    text-align: right;
    padding: 7.5em;
    margin-right: 30px;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

/* embed video */

#video {
    margin: 20px 30px 10px 30px;
    display: flex;
    justify-content: center;
}

/* kartu 3 kolom */

#card-container {
    display: flex;
    justify-content: center;
    padding: 55px;
    margin-bottom: 20px;
    background-color: #000;
    width: 100px;
}

.produk { 

}

.satu {

}

.dua {

}

.tiga {

}