@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

html {
    background-color: antiquewhite;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navigasi */

#nav-bar {
    background-color: rgb(0, 0, 0, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    padding: 1.5em;
    width: 90%;
    margin: 0px 30px 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 5px;
    left: 10px;
}

#nav-bar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    background-color: rgb(34, 28, 4);
    color: white;
    border-radius: 10%;
    text-decoration: none;
}

#nav-bar a.active {
    background-color: rgb(34, 28, 4);
    color: white;
    border-radius: 10%;
}

/* header */

#header {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color:#f2f2f2;
    text-align: justify;
    padding: 2.5em;
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}


/* embed video */

#video {
    margin: 20px 30px 10px 30px;
    display: flex;
    justify-content: center;
}

/* kartu 3 kolom */

/* pelajari dari https://www.freecodecamp.org/news/learn-css-basics-by-building-a-card-component/ */

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#container {
    display: flex;
    justify-content: column;
    max-width: 300px;
    margin-top: 5vh;
    margin-left: 30px;
    margin-right: 10px;
    justify-content: center;
}

.card {
    background-color: #f2f2f2;
    border: 1px #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

/* Style div elements that have class equal to tag */
.tag {
  padding: 4px 8px;
  border: 1px solid #9a9ea0;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

/* kolom email */

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 17px;
    background: rgba(255,255,255,0.5);
    margin: 15px 0 0px 100px;
    font-size: 1.5em;
    text-align: center;
}

#button-search {
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin:10px 0px 0px 500px;
    justify-content: center;
  
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }


#button-search:hover {
  background-color: #0077ff;
  color: #e0efff;
}


#email-label {
    font-size: 1.2em;
    text-align: center;
    margin: 30px 0 0px 450px;
}

/* footer */

footer {
    text-align: center;
    size: 5px;
    margin: 40px;
    color: aliceblue;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
}